@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav {
  height: 102px;
}

#top-nav {
  background-color: #252F3D;
  font-size: 12px;
  padding: 10px 20px;
}

#top-nav button , #top-nav .top-nav-icon {
  font-size: 20px;
}

#bottom-nav {
  padding: 0px 20px;
}

/* main-body */
#main-body {
  padding: 20px;
  gap: 24px;
}

/* Headline */
#headline h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
}

#headline p {
  font-size: 16px;
  line-height: 22.4px;
  color: #4D5254;
}

/* Status */
#status-1, #status-2 {
  font-size: 30px;
  color: #85BF55;
}

#status-3 {
  background-color: #2C7EF8;
  color: #fff;
}

#status-4 {
  color: #2C7EF8;
  border: #2C7EF8 1px solid;
}

.status-text {
  font-size: 12px;
  line-height: 13.2px;
}